* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#sketchContainer {
    border: 1px solid black;
    height: 800px;
    width: 800px;
    display: flex;
    user-select: none;
}

.gridCol {
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
    user-select: none;
}

.gridBox {
    outline: 1px solid black;
    flex-basis: 100%;
    user-select: none;
}

#size-btn {
    margin-bottom: 20px;
    border: none;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 5px;
    color: black;
    font-size: 18px;
}
